<!-- app/views/sliders/index.html.erb -->
<h1>Slider Images and Text</h1>

<%= link_to 'New Slider', new_slider_path %>

<% @sliders.each do |slider| %>
  <% if slider.image.attached? %>
    <%= image_tag slider.image %>
  <% end %>
    <div class="slider">

      <h2><%= slider.title %></h2>
      <p><%= slider.description %></p>
    </div>

<% end %>
