/*--------------------- Responsive (Start) --------------------------*/
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header #menu-btn{
        display: block !important;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        height: calc(100vh - 7rem);
        background: var(--white);
        padding: 2rem;
        width: 30rem;
        border: 0.1rem solid var(--main-color);
        -webkit-box-shadow: var(--box-shadow);
                box-shadow: var(--box-shadow);
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        overflow-y: auto;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
    }

    .header .navbar.active{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    .header .navbar a{
        display: block;
        font-size: 2rem;
        padding: 1.5rem 2rem;
        margin: 1rem 0;
    }

    .header .navbar a:hover,
    .header .navbar a.active{
        color: var(--white);
        background: var(--main-color);
    }

    .navbar::-webkit-scrollbar{
        width: 0.8rem;
    }

    .navbar::-webkit-scrollbar-thumb{
        border-radius: 1rem;
        background-color: var(--secondary-color);
    }

    .navbar::-webkit-scrollbar-track{
        background: transparent;
    } 

} 

@media(max-width: 768px){

    section, .header{
        padding: 2rem;
    }

    .footer .box-container{
        padding: 2rem;
    }

    .home-item .content .text{
        width: 85%;
    }

    .home-item .content{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}

@media(max-width: 450px){

    html{
        font-size: 50%;
    }

    section, .header{
        padding: 1rem;
    }

    .footer .box-container{
        padding: 1rem;
    }

    .contact-form .input-box{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

    .contact-form .box{
        width: 100%;
    }

    .about .image{
        width: 90%;
    }

    .about .content{
        width: 90%;
    }

}
/*--------------------- Responsive (End) ----------------------------*/